{%- comment -%} Usage: {% render 'product-card', product: product %} {%- endcomment -%}
{%- liquid
  assign ratio = 'card__media'
  if settings.card_image_ratio == 'square'
    assign ratio = 'card__media square'
  endif
-%}
{%- if product == blank -%}
  <div class="card">
    <div class="{{ ratio }}">{{ 'product-1' | placeholder_svg_tag: 'placeholder' }}</div>
    <div class="card__body">
      <div class="card__title"><a href="#">Example product</a></div>
      <span class="card__price"><span class="money">$0.00</span></span>
    </div>
  </div>
{%- else -%}
  <div class="card">
    <div class="{{ ratio }}">
      {% render 'badge', product: product %}
      <a href="{{ product.url }}" aria-label="{{ product.title | escape }}">
        {%- if product.featured_media -%}
          <img class="card__media--main" src="{{ product.featured_media | image_url: width: 600 }}"
               srcset="{{ product.featured_media | image_url: width: 400 }} 400w, {{ product.featured_media | image_url: width: 700 }} 700w"
               sizes="(max-width:749px) 50vw, 25vw"
               width="600" height="750" alt="{{ product.featured_media.alt | escape | default: product.title }}" loading="lazy">
        {%- else -%}
          {{ 'product-1' | placeholder_svg_tag: 'placeholder card__media--main' }}
        {%- endif -%}
        {%- if product.media[1] -%}
          <img class="card__media--alt" src="{{ product.media[1] | image_url: width: 600 }}" width="600" height="750"
               alt="{{ product.title | escape }} alternate" loading="lazy">
        {%- endif -%}
      </a>
      <div class="card__quick">
        {%- form 'product', product, data-product-form: '', class: 'quick-add' -%}
          <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
          <button type="submit" class="button button--ghost button--full button--sm" {% unless product.available %}disabled{% endunless %}>
            {%- if product.available -%}Quick add{%- else -%}Sold out{%- endif -%}
          </button>
        {%- endform -%}
      </div>
    </div>
    <div class="card__body">
      {%- if settings.show_vendor and product.vendor != blank -%}
        <div class="card__vendor">{{ product.vendor }}</div>
      {%- endif -%}
      <div class="card__title"><a href="{{ product.url }}">{{ product.title }}</a></div>
      {%- if settings.show_rating -%}{% render 'rating-stars', product: product, show_count: true %}{%- endif -%}
      {% render 'price', product: product %}
    </div>
  </div>
{%- endif -%}
